$color-Sass : #bf4080;
$color-Sass-80 : #bf408080;
.bg-sass {
    background-color: $color-Sass;
    transition: background-color .5s ease-in-out;

    &:hover {
    background-color: $color-Sass-80;

    }
}